registry=https://pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/registry/:username=YBMobileApp
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/registry/:_password=OWxUekQ5Q01kUzN0enJMVVp2aE1WS0o1WHFibXZNN0k0Y3l6WGQyb2cxU3RJM3dqMXNXcEpRUUo5OUJEQUNBQUFBQWt3VWxMQUFBU0FaRE8yNTFa
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/:username=YBMobileApp
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/:_password=OWxUekQ5Q01kUzN0enJMVVp2aE1WS0o1WHFibXZNN0k0Y3l6WGQyb2cxU3RJM3dqMXNXcEpRUUo5OUJEQUNBQUFBQWt3VWxMQUFBU0FaRE8yNTFa
//pkgs.dev.azure.com/YBMobileApp/_packaging/YBMobileApp/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

